azure-communication-email==1.0.0
cryptography==41.0.4
gunicorn==21.2.0
PyJWT==2.8.0
pytest==7.4.2
pytest-asyncio==0.21.1
python-dotenv==1.0.0
PyYAML==6.0.1
Flask==2.3.1
Flask-Cors==4.0.0
Flask-JWT-Extended==4.5.3
Flask-Session==0.5.0
requests==2.31.0
Werkzeug==2.3.0